<h1>I'm a cat.</h1>

<h2>Give us some info about your cat.<h2>
  <form method="POST" action="/cats">
    <input type="text" name="name"><br>
    <input type="text" name="breed"><br>
    <input type="text" name="age"><br>
    <input type="submit">
  </form>
  
