<div id="top_bar">
  <h1>Welcome to Settle!</h1>
</div>

<h3>What's your argument?</h3>

<form method="POST" action="/submit">
    <input type="text" name="question"><br>
    <input type="submit" value="submit">
</form>