<!DOCTYPE html>
<html>
  <head>
    <title>Settle</title>
  </head>
  
  <body>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <div id="top_bar">
      <h1>Welcome to Settle!</h1>
    </div>
    <div id="image">
      <img src="http://i57.tinypic.com/4lr48.png">
    </div>

    <h3>What's your argument?</h3>
    <form method="POST" action="/submit">
      <input type="text" name="question"><br>
      <button>
        <input type="submit" value="submit">
      </button>
    </form>
  </body>
<html>