<!DOCTYPE html>
<html>
  <head>
    <title>Settle</title>
  </head>
  
  <body>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <div class="body_2">
      <h3><%= @user_answer.question %></h3><br>

      <form method="POST" action="/answer">
        <button>
        <input type="submit" name="yes" value="YES">
        </button>
        <button>
        <input type="submit" name="no" value="NO">
        </button>
      </form>
    </div>
  </body>
</html>