<!DOCTYPE html>
<html>
  <head>
    <title>Settle</title>
  </head>
  
  <body>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <div class="body_2">
      <h2><%= @user_answer.question %></h2><br>
      <form method="POST" action="/yes">
        YES
          <INPUT TYPE=radio NAME="answer" VALUE="YES" UNCHECKED>
          <input type="submit">
      </form>
        
      <form method="POST" action="/no">
        NO
          <INPUT TYPE=radio NAME="answer" VALUE="NO" UNCHECKED>
          <input type="submit">
      </form>
      
        
      <form method="POST" action="/answer">
        <button>
        <input type="submit" name="end" value="end">
          END
        </button>
      </form>
    </div>
  </body>
</html>