  <!-->Your cat's name is <= @users_cat.name %>,
    its a <= @users_cat.breed %> and its age is <= @users_cat.age %><-->
<h1><%= @user_answer.yes %> said yes</h1><br>
<h1><%= @user_answer.no %> said no</h1><br>
